/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
/*@import 'antd/dist/reset.css';*/

p {
    margin: 0;
}
.ant-image {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: unset;
    text-decoration: none;
    color: black;
}

